:root {
  /*Colores a usar*/
  --blanco: #ffffff;
  --blancoForm: #ececec;
  --negroGrafito: #1c1c1c;
  --negro: #000000;
  --azulLigero: #0081f4;
  --azulBarras: #0071BC;
  --azulIntenso: #094293;
  --rosa:#ff0266;

}
/*Equivalencia defs px a rem*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  margin: 3rem;
}
/**************************************************/

.title{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold !important;
  font-size: 5rem !important;
  margin: 0;
  padding-bottom: 10rem;
  letter-spacing: 0.5rem;
  text-shadow: 1px 0px 20px var(--negro);
  
  text-align: center;
}

.contSect1, .contSect2{
  display: flex !important;
  justify-content: space-evenly;
}

.btnalta{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 14px var(--azulIntenso);
}

.btnalta:hover{
  box-shadow: 0px 0px 10px var(--rosa);
  scale: 1.2;
  transition: all 0.5s ease;
}

.btnbaja{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 14px var(--azulIntenso);
}

.btnbaja:hover{
  box-shadow: 0px 0px 10px var(--rosa);
  scale: 1.2;
  transition: all 0.5s ease;
}

.btncambio{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 14px var(--azulIntenso);
}

.btncambio:hover{
  box-shadow: 0px 0px 10px var(--rosa);
  scale: 1.2;
  transition: all 0.5s ease;
}

.btnRegreso,.refresh, .btnDelete, .btnConfirm, .btnconsult{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 14px var(--azulIntenso);
}

.btnconsult:hover{
  box-shadow: 0px 0px 10px var(--rosa);
  scale: 1.2;
  transition: all 0.5s ease;
}

.text7{
  width: auto;
}

.symb{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui-title0, p{
  font-weight: 700;
  font-size: 2rem;
  
}

.ui-title0{
  background-color: #0081f4;
  color: var(--blanco);
  border-radius: .5rem;
  padding-right: 1rem;
}

.grid{
  padding-top: 3rem;
}

.text7{
  width: 100%;
}

.sep{
  margin-top: 2rem;
}

.sep1{
  margin-bottom: 2rem;
  

}

hr{
  color: #2f2b2b !important;
}

.contSect2{
  margin-top: 5rem;
}

.cambio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
